body {
    background-image: url("/img/Capture.png");
    background-size: cover;
    height: 100vh; /* تعديل بسيط هنا لارتفاع الشاشة */
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 50px;
    width: 70%;
    padding: 50px;
    border-radius: 20px;
    height: 500px;

    display: flex;
    flex-direction: column; /* لضمان أن الزر والنص يظهران على شكل عمودي */
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(4, 95, 4);
    border-radius: 10px;
    border-color: green;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
}

.row {
    color: white;
    font-size: small;
    margin-top: 20px; /* إضافة مسافة بين الزر والنص */
    text-align: center; /* محاذاة النص في الوسط */
}
